*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card{
    max-width: 350px;
    min-height: 600px;
    background-color: #fff;
    border-radius: 25px;
    overflow: hidden;
    margin: 40px auto;
}
.shadow{
    box-shadow:inset 1px 1px 2px 0px rgb(233, 232, 232),
    inset 2px 2px 8px 0px rgb(220, 220, 220),
    6px 6px 12px 0px rgb(212, 212, 212),
    -6px -6px 10px 0px gray;
}
.card-bar{
    display: flex;
    padding-top: 15px;
}
.card-bar>*{
    display: inline-block;
}
.icon-bar{
    width: 40px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.icon-heart{
    width: 40px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.bar{
    color: green;
    width: 20px;
    height: 20px;
    cursor: pointer;
    
}
.profile-title{
    flex: 1;
    font-size: 20px;
    text-align: center;
}
.heart{
    color: red;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.profile-image{
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    text-align: center;
    cursor: pointer;

}
.profile-image::after{
    content: "";
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
    box-shadow: 1px 1px 2px 0px white,
    2px 2px 8px 0px gray,
    inset 2px 6px 12px 0px white,
    inset 0px 3px 10px 0px gray;
}
.profile{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    text-align: center;
}
.profile-button{
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    margin-top: 10px;
    border: none;
    font-size: 20px;
    color: red;
}
.profile-detail{
    text-align: center;
}
.profile-work{
    color: green;
}
.profile-position{
    color: red;
}